:root {
  --body-background-color-1: #1b4242;
  --body-background-color-2: #2c7878;
  --primary-color: #78a996;
  --glow-color: #00ffcc;
}

body {
  margin: 0;
  background: linear-gradient(
    135deg,
    var(--body-background-color-1),
    var(--body-background-color-2)
  );
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: x-large;
  margin: 2rem;
  text-align: center;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 90vw;
  max-height: 90vh;
}

.container > button {
  padding: 1rem 3rem;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  border-radius: 8px;
  border-radius: min(1vw, 1vh);
  font-size: clamp(1rem, min(4vw, 4vh), 4rem);
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.container > button:hover {
  box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
  color: var(--glow-color);
}
