body {
  margin: 0;
  background-color: cadetblue;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 1rem;
  max-width: 85vw;
  max-height: 85vh;
  aspect-ratio: 1;
  margin: 0 auto;
  margin-top: 1rem;
}

.container > div {
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: grey;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-aspect-ratio: 1/2) {
  /* Adjust height for taller screens */
  .header {
    height: 20vh;
  }
  .container {
    max-width: 90vw;
    max-height: 90vw; /* vw */
  }
}

@media (min-aspect-ratio: 1/2) and (max-aspect-ratio: 3/4) {
  .header {
    height: 15vh;
  }
  .container {
    max-width: 90vw;
    max-height: 90vw; /* vw */
  }
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
  .header {
    height: 8vh;
  }
  .container {
    max-width: 75vw;
    max-height: 75vh;
  }
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
  .header {
    height: 5vh;
  }
  .container {
    max-width: 75vw;
    max-height: 75vh;
  }
}
@media (min-aspect-ratio: 4/3) {
  /* Adjust height for wider screens */
  .header {
    height: 0;
  }
  .container {
    max-width: 80vw;
    max-height: 80vh;
  }
}

.button-outline {
  background-color: transparent;
  border: 2px solid lightgray;
  color: lightgray;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-outline:hover {
  background-color: lightgray;
  color: gray;
}

.count {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  font-size: 1.1rem;
  color: lightgray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
