:root {
  --body-background-color: #1b4242;
  --square-background-color: #5c8374;
  --solved-color: #9ec8b9;
  --next-to-solve-color: tomato;
}

body {
  margin: 0;
  background-color: var(--body-background-color);
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-gap: clamp(0.25rem, min(1vw, 1vh), 2rem);
  aspect-ratio: 1;
  margin: 0 auto;
}

.container > div {
  background-color: var(--square-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-background-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: min(1vw, 1vh);
  font-size: min(4vw, 4vh);
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button-outline {
  background-color: transparent;
  border: 2px solid var(--square-background-color);
  color: var(--square-background-color);
  padding: min(0.5vw, 0.5vh) min(2vw, 2vh);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: clamp(0.7rem, min(2vw, 2vh), 2rem);
  cursor: pointer;
  border-radius: min(1vw, 1vh);
  transition: background-color 0.3s ease, color 0.3s ease;
  flex-grow: 1;
  width: auto;
  font-size: min(4vw, 4vh);
}

.button-outline:hover {
  background-color: var(--square-background-color);
  color: var(--body-background-color);
}

.count {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  font-size: clamp(0.7rem, min(2vw, 2vh), 2rem);
  color: var(--square-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  .header {
    height: max(3vw, calc((100vh - 100vw) * 0.6));
  }
  .container {
    max-width: 80vw;
    max-height: 80vw;
  }
  .footer {
    margin-top: 2vh;
    max-width: 80vw;
  }
  .button-outline {
    height: 8vw;
  }
}

@media (orientation: landscape) {
  .header {
    height: calc(100vh * 0.07);
  }
  .container {
    max-width: 80vh;
    max-height: 80vh;
  }
  .footer {
    margin-top: 2vh;
    max-width: 80vh;
  }
}

@media (max-width: 600px), (max-height: 600px) {
  .container > div {
    font-size: min(7vw, 7vh);
  }
}
